* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}

body {
  min-height: 1000px;
  padding: 0;
  background-color: #ffffff;
}
body > div {
  background-color: #ffffff;
}
body > div header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
body > div header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  border-radius: 25px;
  background-color: rgba(232, 229, 228, 0.5);
  color: #000000;
  width: 300px;
  opacity: 0.9;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  position: fixed;
}
body > div header ul li {
  padding: 10px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
body > div header ul li:focus-visible {
  background-color: #ffffff;
  border-radius: 20px;
}
body > div .main-text {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
body > div .main-text h1 {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  padding: 0 300px;
}
body > div .main-text ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #000000;
  width: 500px;
  align-items: center;
}
body > div .main-text ul li {
  padding: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  background-color: #f0efee;
  text-wrap: nowrap;
  margin: 0 10px;
  border-radius: 20px;
}
body > div .products {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  row-gap: 30px;
  flex-wrap: wrap;
}
body > div .products .photo-box {
  width: 48%;
  height: 600px;
}
body > div .products .photo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
body > div .products .photo-box img:hover {
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
body > div .products .photo-box .on-hover {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  position: absolute;
}
body > div .products .photo-box .on-hover p {
  margin: 2rem;
  color: #ffffff;
}
body > div .products .photo-box .on-hover img {
  width: 35px;
  margin: 2rem;
  margin: 2rem;
  position: relative;
  left: 420px;
}
body > div .sub-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  align-items: center;
}

.shop-sticky-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0px);
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  width: 100px;
  border-radius: 25px;
}
.shop-sticky-button img {
  width: 20px;
  filter: invert(100);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 15px;
  font-weight: 500;
}
footer .logo-copyright {
  display: flex;
  align-items: center;
}
footer .logo-copyright .foot-logo img {
  width: 35px;
  margin-right: 10px;
  animation: rotate-logo 1s cubic-bezier(0.27, 0.58, 0.8, 0.72) infinite;
}
footer .media-links {
  display: flex;
}
footer .media-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
footer .media-links ul li {
  margin: 0 10px;
}

@keyframes rotate-logo {
  0%, 50% {
    transform: rotatez(90deg);
  }
}/*# sourceMappingURL=main.css.map */