$s-dark: #000000;
$s-light: #ffffff;
$dark: #7f7f7f;
$light: #f0efee;

* {
    box-sizing: border-box;
}

@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $s-dark;
    &:hover {
        color: $s-dark;
    }
}

body {
    min-height: 1000px;
    padding: 0;
    background-color: $s-light;
    & > div {
        background-color: $s-light;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            ul {
                @include list-reset;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 4px;
                border-radius: 25px;
                background-color: rgba(232, 229, 228, 0.5);
                color: $s-dark;
                width: 300px;
                opacity: 0.9;
                backdrop-filter: blur(16px);
                position: fixed;
                li {
                    padding: 10px;
                    font-weight: 500;
                    text-align: center;
                    width: 100%;
                    &:focus-visible {
                        background-color: $s-light;
                        border-radius: 20px;
                    }
                }
            }
        }
        .main-text {
            height: 60vh;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 72px;
                font-weight: 500;
                text-align: center;
                padding: 0 300px;
            }
            ul {
                @include list-reset;
                display: flex;
                color: $s-dark;
                width: 500px;
                align-items: center;
                li {
                    padding: 8px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    text-align: center;
                    width: 100%;
                    background-color: $light;
                    text-wrap: nowrap;
                    margin: 0 10px;
                    border-radius: 20px;
                }
            }
        }
        .products {
            display: flex;
            padding: 40px;
            justify-content: space-around;
            row-gap: 30px;
            flex-wrap: wrap;
            .photo-box {
                width: 48%;
                height: 600px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                & img:hover {
                    backdrop-filter: blur(100px);
                }
                .on-hover {
                    display: flex;
                    justify-content: space-around;
                    align-self: flex-start;
                    position: absolute;
                    p {
                        margin: 2rem;
                        color: $s-light;
                    }
                    img {
                        width: 35px;
                        margin: 2rem;
                        margin: 2rem;
                        position: relative;
                        left: 420px;
                    }
                }
            }
        }
        .sub-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            align-items: center;
        }
    }
}

.shop-sticky-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: $s-dark;
    color: $s-light;
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    img {
        width: 20px;
        filter: invert(100);
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 15px;
    font-weight: 500;
    .logo-copyright {
        display: flex;
        align-items: center;
        .foot-logo img {
            width: 35px;
            margin-right: 10px;
            animation: rotate-logo 1s cubic-bezier(0.27, 0.58, 0.8, 0.72)
                infinite;
        }
    }
    .media-links {
        display: flex;
        ul {
            @include list-reset;
            display: flex;
            li {
                margin: 0 10px;
            }
        }
    }
}

@keyframes rotate-logo {
    0%,
    50% {
        transform: rotatez(90deg);
    }
}
